* {
	text-decoration: none;
}

body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 10px;
	position: relative;
	min-width: 320px;
}

h2 {
	font-size: 14px;
	background: #f0f0f0;
	border-bottom: 1px solid #e2e2e2;
	margin: 0;
	padding: 5px 20px;
	line-height: 20px;
}

.holder {
	max-width: 1054px;
	padding: 30px 15px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

.content-holder {
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	width: 46%;
	float: left;
	margin: 0 1%;
	margin-bottom: 15px;
}

.content {
	padding: 15px;
}