* {
	text-decoration: none;
}

body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 10px;
	position: relative;
}

#sign-up {
	margin: 0 auto;
	overflow: hidden;
	
}

input {
	border: 1px solid #e2e2e2;
	border-radius: 0 3px 3px 0;
	font-size: 12px;
	line-height: 22px;
	padding: 0 5px;
	margin: 5px 0;
	width: 229px;
}

input:focus,
select:focus,
option:focus {
	outline: none;
}

#sign-up p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	background: #f0f0f0;
	color: #000;
	margin: 0;
	border: 1px solid #e2e2e2;
	border-bottom: 0px;
	border-radius: 3px 3px 0 0;
}

#sign-up {
	max-width: 300px;
	margin-top: 30px;
}

#sign-up form {
	margin: auto;
	padding: 15px;
	border-radius: 0 0 3px 3px;
	border: 1px solid #e2e2e2;
	overflow: hidden;
}

#sign-up form i {
	color: #000;
	background: #f0f0f0;
	display: block;
	float: left;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	margin: 5px 0;
	padding: 4px 8px;
	border: 1px solid #e2e2e2;
	border-right: none;
	border-radius: 3px 0 0 3px;
}

#sign-up form input[type="submit"] {
	background: #f0f0f0;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	color: #000;
	cursor: pointer;
	padding: 5px 20px;
	margin: 5px 0;
	font-size: 14px;
	float: right;
	width: 80px;
}

#sign-up form input[type="checkbox"] {
	width: 15px;
	float: left;
	margin-right: 5px;
}

#sign-up form label {
	display: block;
	margin: 5px;
}

#sign-up .fa-envelope-o,
#sign-up .fa-asterisk {
	font-size: 10px;
	padding: 6px 8px;
}

form select {
	width: 100%;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	font-size: 12px;
	padding: 5px;
	margin: 5px 0;
}

#sign-up form input[type="submit"]:hover {
	background: #e2e2e2;
}